* {
  min-width: 190px;
}

table,
b,
p,
h1,
h3,
li,
dt {
  font-style: italic;
}

a {
  color: blue;
  font-style: italic;
}

a:hover {
  color: blue;
}

.contact-information a,
.google-play-link {
  text-decoration: none;
}

.batch {
  color: blue;
}

.present-address {
  color: black;
}

.topic {
  font-weight: bold;
}

footer {
  text-align: center;
}

.portrait {
  height: 230px;
  width: 180px;
}