a {
  color: blue;
  font-style: italic;
}

a:hover {
  color: blue;
}

table,
b,
p,
h1,
h3 {
  font-style: italic;
}

footer {
  text-align: center;
}

.contact-information a, .google-play-link {
  text-decoration: none;
}

.batch {
  color: blue;
}

.present-address {
  color: black;
} 

.topic {
  font-weight: bold;
}

.portrait {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}