        body {
            font-family: Arial, sans-serif;
            /* font-style: italic; */
            font-weight: lighter;
            margin: 0;
            padding: 0;
            font-size: large;
            background-color: #f0f0f0;
        }

        header {
            background-color: #007BA7;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 0;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #001F3F;
            padding: 10px 0;
        }

        nav a {
            color: #fff;
            font-variant: small-caps;
            font-weight: bold;
            text-decoration: none;
            margin: 0 15px;
        }

        .content {
            padding: 2%;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #001F3F;
            color: #fff;
            font-weight: lighter;
            font-variant-caps: all-small-caps;
            /* position: absolute; */
            bottom: 0;
            width: 100%;
        }

        .project-card {
            /* border: 1px solid; */
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }

        .project-title {
            font-size: 18px;
            font-weight: bolder;
            color: #130c22;
        }

        .project-description {
            font-size: 14px;
            margin-top: 5px;
        }

        .project-details {
            font-size: 12px;
            color: #130c22;
            margin-top: 5px;
        }

        .project-last-updated {
            font-size: 12px;
            color: #f0f0f0;
        }

        .about-section {
            font-family: 'Roboto', sans-serif;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            /* padding: 50px; */
        }

        .about-content {
            display: flex;
            align-items: center;
            max-width: 1200px;
            /* margin: 0 auto; */
        }

        .about-text {
            flex: 1;
            padding-right: 20px;
        }

        .about-image {
            flex: 1;
            text-align: right;
        }

        .about-image img {
            max-height: 50%;
            max-width: 50%;
            /* border-radius: 100%; */
            /* box-shadow: 4px 4px 8px #000000; */
        }
